<!DOCTYPE html>
<html>
<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
	<script type="text/javascript" src="script.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="normalize.css">
	<title>Edit in Place</title>
</head>
<body ng-app = "myApp" ng-controller = "bodyMaster">
	<div class="bodyPad">
	<h1 class="header">{{header}}</h1>

	<img class='headshot' src="http://vignette3.wikia.nocookie.net/powerlisting/images/2/27/Leviathan_by_beloved_creature-d39y19b.jpg/revision/latest?cb=20131114202923">
	<div>
		<a href="#" ng-click="lineMaker(event, 0)" ng-hide="!hideMe[0]">Name</a>
		<a href="#" ng-click="lineMaker(event, 1)" ng-hide="!hideMe[1]">Gender</a>
	</div>
	<div>
		<form>
			<input class = "bringLine" ng-hide="hideMe[0]" ng-model="myName" ng-blur="lineMaker(event, 0); namePlacer(event)">
			</input>
			<input class = "bringLine" ng-hide="hideMe[1]" ng-model="myGender" ng-blur="lineMaker(event, 1); genderPlacer(event)">
			</input>
		</form>
		<ul class = "tableStyler">
			<li> Name: {{ name }} </li>
			<li> Gender: {{ gender }} </li>

		</ul>
	</div>
</div>
</body>
</html>